@import "tailwindcss";
@import "tw-animate-css";

@plugin "daisyui" {
  themes: all;
}

:root {
  --font-sans: "Lexend", -apple-system, system-ui, sans-serif;
}

@layer base {
  body {
    @apply antialiased;
    font-family: var(--font-sans);
  }
}

.btn {
  &:active {
    scale: 0.9;
  }

  box-shadow: 0 4px 0px 0 var(--btn-border);
}
